[global]
lang=English
client=Test
sysloglevel=2
winmsg=no
mt=/bin/mt
tar=/bin/tar
smbmount=/usr/bin/smbmount
smbumount=/usr/bin/smbumount
smbclient=/usr/bin/smbclient
rsync=/usr/bin/rsync
du=/usr/bin/du
cdrecord=/usr/bin/cdrecord
dvdrecord=/usr/bin/growisofs
dvdformat=/usr/bin/dvd+rw-format
smtpserver=my.mail.server
smtpuser=mail_account
smtppass=mail account password
smtpfrom="User Name" <user@mail.address>
logdir=/var/log/bck
spooldir=/var/spool/bck
tempdir=/var/tmp
oktag=backup
errortag=backup error
warningtag=backup warning
#
# http config section
[http]
user=user
pass=password
reportlines=25
#
# BLOCK
# [blockname]
# name = Descrition for reports and logging
# type = [ local | exec | sg2 | part | tape | samba | rsync | optical | sysinfo ]
# local : copy from one directory to other
# exec : execute command
# sg2 : make backup with gbak for database of firebird
# part : mount partition and use as destination
# tape : copy to tape with tar
# samba : copy to samba share
# rsync : copy to rsyncd server
# optical : copy to CD-R,CD-RW,DVD-R,DVD-RW
# sysinfo : recolect system information and send in report
# sourcelist = path for source files, for type=exec this is the working directory
# excludelist = archivos a excluir con pattern matching
# dest = destination for copy
# maxsize = maximum size allowed on destination, will not copy if sources size is bigger then this number and flag error
# cmd = command to execute for type=exec sections
# medium = [ CD | CD-RW | DVD | DVD-RW ]
# user = username for services authentification
# pass = password for services authentification
# histdirs = history directories, -1 -> new dir for every copy, x -> create x directories.
# bwlimit = max network usage in kbytes/sec for rsync section
# cypher = yes to encrypt files
# cert = cert.file used for encryption
# 
#
# Seccion obligatoria
#
[mail]
#mail level:
#0: Only send report on error
#1: Send report on error or warning
#2: Always send report and include .log files
#3: Always send report and include .log and .lst files
#4: Always send report and include .log amd .lst files and include used config file.
#mail de cliente primero
#Para html reports:
#cliente@sudominio.com = 4,html
#Para plaintext reports
#cliente2@sudominio.com = 4,plain
#Para multipart html y plain
bruno.copias@grn.es=4

#
#Seccion de TEST
[test]
name=Exec test
type=exec
sourcelist=/home/data/
cmd=ls -lahR
maxsize=999999999

#
#Seccion de ejecutar
#[exec]
#name = Exec test
#type = exec
#sourcelist = /home/copia/Desktop
#cmd = ls -lahR
#
#Seccion para SG2
#[sg2]
#name = Gbak de base de datos de SG2
#type = sg2
#cmd = /opt/firebird/bin/gbak -B -V -L -T -USER SYSDBA -PASSWORD masterkey
#sourcelist = /home/sg2/database.fdb
#dest = /home/sys/backupsg2/
#
#Seccion DAT
[dat]
name=Bruno dat test
type=tape
sourcelist=/home/data/bck-backup/trunk,/home/data/bck-backup/working
excludelist=*.ext1,*.EXT1,*.ext2,*.EXT2
dest=/var/temp/tar.test
maxsize=20000000000
eject=no
#
#Seccion Samba
#[samba]
#name = Copia en destino Samba
#type = samba
#sourcelist = /mydir,/mydir2
#excludelist = *.ext1,*.EXT1,*.ext2,*.EXT2
#dest = //sambaserver/sambashare
#maxsize = 20000000000
#user = username
#pass = userpassword
#histdirs=5
#
#Seccion de copia local
[local]
name=Local copy test
type=local
sourcelist=/home/data/bck-backup/trunk,/home/data/bck-backup/working
excludelist=*.ext1,*.EXT1,*.ext2,*.EXT2
dest=/var/temp
maxsize=10000000
histdirs=5

#
#Seccion de copia en particion (USB o lo que sea)
#[part]
#name = Copia en disco USB
#type = part
#sourcelist = /mydir,/mydir2
#excludelist = *.ext1,*.EXT1,*.ext2,*.EXT2
#dest = /dev/sda1
#maxsize = 50000000000
#
#Seccion de copia de CD[RW] o DVD[RW], RW formatea el medio primero
[cdrw]
name=Copia en CD-RW
type=optical
dest=/dev/hdc
medium=CDRW
sourcelist=/home/bruno/bck

#excludelist = *.ext1,*.EXT1,*.ext2,*.EXT2
#maxsize = 4500000000
#Seccion de copia de CD[RW] o DVD[RW], RW formatea el medio primero
[dvdrw]
name=Copia en DVD-RW
type=optical
dest=/dev/hdc
medium=DVDRW
sourcelist=/home/bruno/bck
#excludelist = *.ext1,*.EXT1,*.ext2,*.EXT2
maxsize=4500000000

#Seccion de cipher
[cipher]
name=Localy cipher
type=cipher
sourcelist=/home/bruno/cd_elias
#excludelist = *.ext1,*.EXT1,*.ext2,*.EXT2
dest=/var/tmp/ciphered
maxsize=1000000000
