#
# Global section
#
[global]
lang=English
client=Test 1
sysloglevel=2
mtpserver=my.mail.server
smtpport=25
smtpuser=mail_account
smtppass=mail account password
smtpfrom="User Name" <user@mail.address>
ntpserver=pool.ntp.org
ipwebaddress=whatismyip.com/automation/n09230945.asp
logdir=/var/log/bck
dbdir=/var/lib/bck
tempdir=/var/tmp
oktag=backup
errortag=backup error
warningtag=backup warning
mailtext=/etc/bck/alert.txt
#
# http config section
#
[http]
user=user
password=password
reportlines=25
#
# update server configuration
#
[update]
url=http://bck-backup.svn.sourceforge.net/viewvc/bck-backup/stable
#user=myusername (if needed)
#password=mypassword (if needed)
#
# report server configuration
#
[report]
server=my.report.server
port=serverport
password=password to access server
serverpassword=server password
#
# BLOCK
# [blockname]
# name = Descrition for reports and logging
# type = [ see plugins ]
#
# Main section
#
[mail]
#mail level:
#0: Only send report on error
#1: Send report on error or warning
#2: Always send report and include .log files
#3: Always send report and include .log and .lst files
#4: Always send report and include .log amd .lst files and include used config file.
#Html reports:
client@yourdomain.com = 4,html
#Plaintext reports
client2@yourdomain.com = 4,plain
#Multipart html and plain
yourmail@your.server.tld=4

# local.pm plugin example
[example1]
type=local
name=example1
sourcelist=/home/user,/home/user2
sourcelist=/etc/somedir
sourcelist=/etc/somefile.conf
dest=/home/backup

# firebird plugin example
[example2]
name = Gbak database backup
type = firebird
cmd = /opt/firebird/bin/gbak -B -V -L -T -USER SYSDBA -PASSWORD mypassword
sourcelist = /home/databases/database.fdb
dest = /home/sys/backup/
